<div class="form-horizontal">
  <%= form_for(@topping) do |f| %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
    <%= f.submit %>

  <% end %>  
</div>