<div class="container">
  <h1>Toppings List</h1>
  <%= link_to "Create Topping", new_topping_path, class: "btn btn-default" %>
  <div>
      <h2>Current Toppings:</h2>
        <ul>
        <% @toppings.each do |topping| %>
          <li>
            <h4><%= topping.name %></h4>
            <%= link_to 'Delete', topping, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
        </ul>
    </div>
    <%= link_to "Back", root_path %>
</div>