<h1>Edit Pizza</h1>

<%= render "form" %>

<div class="nav-buttons">
<%= link_to 'Delete Pizza', pizza_path(@pizza), method: "delete", class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
</div>

<div class="nav-buttons">
  <%= link_to 'Back', root_path, class: "btn btn-info" %>
</div>