/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url('pizza.gif');
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Creating content box with white transparent background
#content {
  background-color: white;
  opacity: .90;
  padding: 20px;
}

// Centering content
.col-centered {
  float: none;
  margin: 20px auto;
}


.title {
  padding: 0 0 20px 20px ;
}

// Removed default unordered list bullet points
li {
  list-style-type: none;
}

// Removed default padding
ul {
  padding-left: 0;
}

// Footer nav button padding
.nav-buttons {
  padding: 20px;
}
