<!DOCTYPE html>
<html>
  <head>
    <title>PizzaServerShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div id="content" class="col-md-8 col-sm-8 col-xs-10 col-centered text-center">
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
